<!html>
<html lang="{{content_meta.language[0]}}">
<head>
<title>{{content_meta.title[0]}}</title>
<link rel="stylesheet" type="text/css" href="../style.css" />
<meta http_equiv="Content-type" content="text/html; charset="UTF-8"/>
</head>
<body>
{{content_html}}
</body>
</html>
