Title: {{addon_info['addon-name']}} Help (version {{addon_info['addon-version']}})
Author: {{addon_info['addon-author']}}
Language: en

# NVDA Template Help


This is a stub for a template user documentation.

